body {
	background-color: #151515;
	margin: 0 0 0 0;
}
.zbeubeu {
		width: 550px;
		height: 98%;
		float: left;
		background-color: #2E2E2E;
	}
#button{
		width: 50px;
		height: 30px;
		border: 1px #151515;
	}
.picture-to-draw{
	float: right;
}
.headLine{
	width: 550px;
	height: 55px;
	background-color: #2E2E2E;
	color: white;
	float:right;
	text-align:right;
}