
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
<script src="{% static 'jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'drawingboard.min.js' %}"></script>
<script src="{% static 'drawingboard.nocontrol.min.js' %}"></script>
<script src="{% static 'sendImage.js' %}"></script>


<body>
<div class="headLine">
	<H1>Learn To Draw</H1>
</div>
<div id="zbeubeu" class="zbeubeu">
</div>
<input type="button" value="Compare" id="compare"/>

<div class="picture-to-draw">
		<img name="imageToDraw" id="imageToDraw" src="{% static 'first_image.png' %}" width="550px" height="90%">
	</div>

<script>
	var myBoard = new DrawingBoard.Board('zbeubeu', {
		controls: [
					{ Size: { type: "range", min: 1, max: 42 } },
					{ Navigation: { back: false, forward: false } },
					{ DrawingMode: { filler: false } },
					'Download'
					
				],
		background: "{/home/sovervo/my-blog/blog/static/first_image_tp.png",
		eraserColor : "#fff",
		stretchImg : true,
		color : "#000",

	});

//------------------------------------------------------Send and Compare----------------------------------------
		$("#compare").click(function(e){
			e.preventDefault();
			document.getElementById("compare").value = "Wait! Don't click anymore!";
			var canvas = document.getElementsByClassName("drawing-board-canvas")[0];
			var imgBase64 = canvas.toDataURL();
		    $.ajax({
		    	type: "POST",
		    	dataType: "json",
		    	data: {
		    		'imgBase64' : imgBase64,
		    		'csrfmiddlewaretoken': '{{ csrf_token }}',
		    	},
		    	url: "/ajax/validate_username/",
		    	success: function(result){
		        	alert(result.count);
		        	document.getElementById("compare").value = "Compare";	
		    	}
			});
		});


//------------------------------------------------------Customize paint tool----------------------------------------
	/*var controlBtns = document.getElementsByClassName("drawing-board-controls")[0];
	document.getElementsByClassName("headLine")[0].appendChild(controlBtns);
*/
	var pen = document.getElementsByClassName("drawing-board-control-drawingmode-pencil-button");
	pen[0].id = "button";
	pen[0].innerHTML = "pen";

	var eraser = document.getElementsByClassName("drawing-board-control-drawingmode-eraser-button");

	eraser[0].id = "button";
	eraser[0].innerHTML = "eraser";

	var resetDiv = document.getElementsByClassName("drawing-board-control-navigation");
	resetDiv[0].style.display = "inline";
	var panel = document.getElementsByClassName("drawing-board-control drawing-board-control-drawingmode");
	panel[0].appendChild(resetDiv[0]);

	var reset = document.getElementsByClassName("drawing-board-control-navigation-reset");
	reset[0].id = "button";
	reset[0].innerHTML = "reset";

	document.getElementsByClassName("drawing-board-canvas-wrapper")[0].style.cssFloat = "left";

	var stuff = document.getElementsByClassName("drawing-board-cursor");
	stuff[0].style.display = 'none';
//----------------------------------------------End of customize paint tool----------------------------------------
	function showImage(){
		var image = document.createElement("img");
		var canvas = document.getElementsByClassName("drawing-board-canvas")[0];
		var dataURL = canvas.toDataURL();
		image.src = dataURL;
		return dataURL;
	}

</script>
</body>